:root {
  --background: whitesmoke;
  --pagedjs-width: 8.3in;
  --pagedjs-height: 11.7in;
  --color-paper: white;
  --color-mbox: rgba(0, 0, 0, 0.2);
  --running-title-width: 2.5in;
  --screen-pages-spacing: 5mm;
  --pagedjs-margin-right: 0.75in !important;
  --pagedjs-margin-left: 0.75in !important;
  --pagedjs-margin-top: 0.75in !important;
  --pagedjs-margin-bottom: 0.75in !important;
}



.page-break{
  break-before: page;
}

.float-container {
  padding: 5px;
  float: left;
  width: 100%;
}
.float-container::after {
  content: "";
  clear: both;
  display: table;
}
.header-float {
  float: right;
  width: 60%;
  font-size: 1em;
}
.header-float ~ * {
  clear: both;
}
.pull-right-60 ~ * {
  clear: both;
}
.pull-right-80 {
  float: right;
  width: 80%;
}
.pull-right-80 ~ * {
  clear: both;
}
.pull-right-80 p {
  text-indent: -20px;
  padding-left: 20px; 
  margin-top: 5px;
  margin-bottom: 5px;
  break-inside: avoid;
}
.pull-left-20 {
  float: left;
  width: 20%;
  color: #880808;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
}
a {
  color: #880808;
}
a:link, a:visited {
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}

h1 {
  font-size: 1.4em;
}
body {
  hyphens: auto;
  font-size: 1em;
}
table {
  width: 100%;
  table-layout: fixed;
  border-spacing: none;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: none;
  border-bottom: none;
}

html {
  line-height: 1.3;
}

thead, th {
  display: none;
}

table td {
  text-align: left;
  vertical-align: top;
  padding-left: 20px;
  text-indent: -20px;
}

.header-float table td {
  padding-left: none;
  text-indent: none;
  text-align: right;
}
.header-float table td:nth-child(3) {
  width: 5%;
}
.header-float table td:nth-child(2) {
  width: 45%;
  text-align: right;
}
.header-float table td:nth-child(1) {
  width: 50%;
}

/* generated content */

/* do not include page references in code blocks */
.sourceCode a[href^="#"]:not([class^="footnote-"]):not([href*=":"])::after,
.sourceCode a.front-matter-ref[href^="#"]:not([class^="footnote-"]):not([href*=":"])::after {
  content: unset;
}

/* TOC, LOT, LOF */
.toc ul, .lot ul, .lof ul {
  list-style: none;
  padding-left: 0;
  overflow-x: hidden;
}
.toc li li {
  padding-left: 1em;
}
.toc a, .lot a, .lof a {
  text-decoration: none;
  background: white;
  padding-right: .33em;
}
.toc a::after, .lot a::after, .lof a::after {
  /* content: leader(dotted) target-counter(attr(href), page); */
  content: target-counter(attr(href), page);
  float: right;
  background: white;
}
.toc a.front-matter-ref::after, .lot a.front-matter-ref::after, .lof a.front-matter-ref::after {
  /* content: leader(dotted) target-counter(attr(href), page, lower-roman); */
  content: target-counter(attr(href), page, lower-roman);
}
.toc .leaders::before, .lot .leaders::before, .lof .leaders::before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}

/* Chapter name */
.chapter > h1 > .header-section-number::before, .chapter-ref > .toc-section-number::before {
  content: var(--chapter-name-before, "Chapter ");
}
.chapter > h1 > .header-section-number::after, .chapter-ref > .toc-section-number::after {
  content: var(--chapter-name-after, "");
}

/* misc elements */
.subtitle span {
  font-size: .9em;
}
img {
  max-width: 100%;
}
pre {
  padding: 1em;
  white-space: pre-wrap;
}
pre[class] {
  background: #f9f9f9;
}
abbr {
  text-decoration: none;
}

@media screen {
  div.sourceCode {
    overflow: visible !important;
  }
  a.sourceLine::before {
    text-decoration: unset !important;
  }
}
pre.numberSource a.sourceLine {
  left: 0 !important;
  text-indent: -5em
}
pre.numberSource {
  margin-left: 0 !important;
}

/* knitr::kables styling, see https://github.com/rstudio/pagedown/issues/214 */
.kable_wrapper > tbody > tr > td {
    vertical-align: top;
}
.footnotes {
  font-size: 90%;
}
.footnotes hr::before {
  content: "Footnotes:";
}
.footnotes hr {
  border: none;
}
.footnote-break {
  width: 0.75in;
}

code {
  hyphens: none;
}

/* two pages in a row if possible on screen */
@media screen {
  body {
    background-color: var(--background);
    margin: var(--screen-pages-spacing) auto 0 auto;
  }
  .pagedjs_pages {
    display: flex;
    max-width: calc(var(--pagedjs-width) * 2);
    flex: 0;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .pagedjs_page {
    background-color: var(--color-paper);
    box-shadow: 0 0 0 1px var(--color-mbox);
    flex-shrink: 0;
    flex-grow: 0;
    margin: auto auto var(--screen-pages-spacing) auto;
  }
}



/* use a fixed width body for mobiles */
@media screen and (max-width:1180px)  {
  body {
    width: calc(var(--pagedjs-width) + 2 * var(--screen-pages-spacing));
  }
}
